p,
h2 {
  margin: 0px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: black;
  padding: 20px 40px 20px 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.user-name {
  color: #ffff;
  font-family: roboto;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-name span {
  color: #686363;
  font-weight: 400;
}

.title {
  color: #686363;
  margin-bottom: 20px;
}

.text {
  color: #fff;
  font-family: roboto;
  font-size: 20px;
  margin-bottom: 40px;
}

.delete-button {
  background-color: #686363;
  color: #fff;
  padding: 15px 30px 15px 30px;
  border-radius: 10%;
}
